header,
aside,
main,
footer,
section {
  border: 6px solid black;
}

body {
    display: grid; /*define que o body vai usar o modelo de layout em grade.*/
    grid-template-rows: auto auto auto; /* cria três linhas */
    grid-template-columns: 200px 1fr 200px; /*cria três colunas: 200px à esquerda; 1fr no centro, que ocupa o 
    espaço sobrando; 200px à direita.*/
    min-height: 100vh; 
    font-family: Arial, sans-serif; /*  define a fonte padrão do texto da página.*/
}
/* Do jeito que está, o CSS só cria a grade no body; os elementos filhos ainda precisam ser posicionados nas 
células do grid com grid-column, grid-row ou grid-area.*/

header {
    grid-column: 1 / -1; /* faz o header começar na primeira coluna e terminar na última. O -1 significa 
    “última linha/coluna da grade”, então o elemento atravessa todas as colunas do grid.*/
    background-color: blue;
    color: white;
    padding: 1rem;
    text-align: center;
}
/* Se o body estiver com algo como grid-template-columns: 200px 1fr 200px;, esse header vai ocupar as três 
colunas inteiras, ficando no topo da página como uma faixa horizontal.*/

aside { 
    background-color: yellow;
    padding: 1rem; /* Se a fonte raiz estiver em 16px, então: 1rem = 16px e 2rem = 32px */ 
    /* rem é muito usado em espaçamentos porque mantém proporção com a configuração global da página, 
    em vez de depender do tamanho do elemento pai. Isso ajuda a manter um sistema visual mais uniforme, 
    especialmente em interfaces responsivas.*/
}

main {
    background-color: #ffffff;
    padding: 2rem;
}

footer {
    grid-column: 1 / -1;
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Blocos internos */
.bloco {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  border: 6px solid black;
}

/* Paleta inspirada em Mondrian */
.vermelho {
  background-color: #d62828;
  color: white;
}

.amarelo {
  background-color: #fcbf49;
  color: black;
}

.azul {
  background-color: #1d4ed8;
  color: white;
}